<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
        <p>Welcome, <%= user %>!</p>
        <form action="/todos" method="GET">
            <label for="priority">Filter by Priority:</label>
            <select name="priority" id="priority">
                <option value="">All</option>
                <option value="High">High</option>
                <option value="Medium"> Medium</option>
                <option value="Low" >Low</option>
            </select>
            <button type="submit">Filter</button>
        </form>
    <ul>
        <% todos.forEach((todo, index) => { %>
            <li>
                <%= todo.task %>
                <strong>Priority:</strong> <%= todo.priority %>
                <form action="/todos/delete/<%= index %>" method="POST" style="display:inline;">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit">
                        Delete
                    </button>
                </form>
                <a href="/todos/edit/<%= index %>">Edit</a>
            </li>
        <% }) %>
    </ul>

    <form action="/todos/add" method="POST">
        <input type="text" name="task" placeholder="New task" required>
        <select name="priority">
            <option value="High">High</option>
            <option value="Medium" >Medium</option>
            <option value="Low">Low</option>
        </select>
        <button type="submit">Add Task</button>
    </form>
    <form action="/auth/logout" method="GET">
        <button type="submit">Logout</button>
    </form>

</body>
</html>